@import '@fontsource/plus-jakarta-sans';
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
   --font-sans: "Plus Jakarta Sans", sans-serif;
  --color-primary:    #22c55e;
  --color-background: #f7fcf9;
  --color-surface:    #ffffff;
  --color-surface-2:  #effaf3;
  --color-text:       #0f2d1a;
  --color-text-muted: #112E1C;
  --color-bg-muted: #D9F1E3;
  --color-bg-card: #FFFFFF;
  --color-border: #e2ece6;
  --color-bg-hover: #E8F5ED;
}

.dark {
  --color-primary:    #22c55e;
  --color-background: #0f1a14;
  --color-surface:    #152019;
  --color-surface-2:  #1c2e22;
  --color-text:       #e8f5ed;
  --color-text-muted: #D9F1E3;
  --color-bg-muted: #112E1C;
  --color-bg-card: #152019;
  --color-border:     rgba(163, 230, 184, 0.12);
  --color-bg-hover: #1C2E22;
}

html {
  scroll-behavior: smooth;
}

